.contain{
	margin:auto;
	overflow:hidden;
	width:80%;
	border:black 1px solid;
	padding-left:10px;
	box-shadow:2px 2px 5px;
}
img{
	border:black 1px solid;
	box-shadow:2px 2px 5px;
}

div #desc1{
	margin-left:500px;
}